<form (submit)="submit()"  class="form" [formGroup]="form">

  <div class="form-group">
    <label for="firstName-input">First Name:</label>
    <input id="firstName-input" type="text" class="form-control" formControlName="first_name">
  </div>

  <div class="form-group">
    <label for="lastName-input">Last Name:</label>
    <input id="lastName-input" type="text" class="form-control" formControlName="last_name">
  </div>

  <div class="form-group">
    <label for="email-input">Email:</label>
    <input id="email-input" type="email" class="form-control" formControlName="email">
  </div>



  <div class="form-group">
    <label for="avatar-input">Avatar:</label>
    <input id="avatar-input" type="text" class="form-control" formControlName="avatar">
  </div>


  <div class="form-group">
    <button
            type="submit"
            [disabled]="!form.valid"
            class="btn btn-success float-right">
      Submit
    </button>
  </div>

</form>